version: "3.9"

services:
  mongo:
    image: mongo:8.0
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    container_name: backend
    restart: always
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/inventorydb
      - JWT_SECRET=superclaveultrasecreta123
      - SMTP_HOST=smtp.gmail.com
      - SMTP_PORT=587
      - SMTP_USER=alejandrajaramillo876@gmail.com
      - SMTP_PASS=fogiqymufpaujhgq
      - REPORT_EMAIL=alejandrajaramillo876@gmail.com
    depends_on:
      - mongo
    volumes:
      - ./backend:/app
      - /app/node_modules

volumes:
  mongo-data: